@using DataScience.Services.Similarity
@using DataScience.Models.UserItem
@{ ViewBag.Title = "User ID: " + ViewBag.UserId; }
@{ User user = ViewBag.User; }
<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th></th>
        @foreach (var article in ViewBag.Articles)
        {
            <th>@article.Key</th>
        }
        <th>Similarity</th>
    </tr>
    </thead>
    <tbody>
    @foreach (KeyValuePair<int, User> userItem in ViewBag.Users)
    {
        <tr class="@(userItem.Key == user.Id ? "table-active" : "")">
            <th>@userItem.Value.Id</th>
            @foreach (var article in ViewBag.Articles)
            {
                <td>
                    @if (userItem.Value.Ratings.ContainsKey(article.Key))
                    {
                        @userItem.Value.Ratings[article.Key]
                    }
                    else
                    {
                        @("-")
                    }
                </td>
            }
            <td class="td-compact">
                @{ var similarity = new SimilarityWrapper(new SimilarityList(userItem.Value.Ratings, user.Ratings, ViewBag.Articles)); }
                Euclidean: @Math.Round(similarity.Euclidean(), 4)<br/>
                Manhatttan: @Math.Round(similarity.Manhattan(), 4)<br/>
                Pearson: @Math.Round(similarity.Pearson(), 4)<br/>
                Cosine: @Math.Round(similarity.Cosine(), 4)
            </td>
        </tr>
    }
    </tbody>
</table>

@foreach (KeyValuePair<string, IEnumerable<Tuple<User, float>>> neighbor in ViewBag.Neighbors)
{
    <h3>Nearest Neighbors: @neighbor.Key</h3>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th></th>
            @foreach (var article in ViewBag.Articles)
            {
                <th>@article.Key</th>
            }
            <th>Similarity</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var userItem in neighbor.Value)
        {
            <tr>
                <th>@userItem.Item1.Id</th>
                @foreach (var article in ViewBag.Articles)
                {
                    <td>
                        @if (userItem.Item1.Ratings.ContainsKey(article.Key))
                        {
                            @userItem.Item1.Ratings[article.Key]
                        }
                        else
                        {
                            @("-")
                        }
                    </td>
                }
                <td class="td-compact">
                    @userItem.Item2
                </td>
            </tr>
        }
        </tbody>
    </table>
}