@{
    ViewBag.Title = "Comparing to user " + ViewBag.UserId;
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th></th>
        @foreach (var article in ViewBag.Articles)
        {
            <th>@article.Key</th>
        }
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in ViewBag.Users)
    {
        <tr class="@(ViewBag.UserId == user.Value.Id ? "table-active" : "")">
            <th>@user.Value.Id</th>
            @foreach (var article in ViewBag.Articles)
            {
                <td>
                    @if (user.Value.Ratings.ContainsKey(article.Key))
                    {
                        @user.Value.Ratings[article.Key]
                    }
                </td>
            }
            <td>
                @Html.ActionLink("View similarities", "View", "UserItem", new {userId = user.Value.Id}, new {@class = "btn btn-light"})
            </td>
        </tr>
    }
    </tbody>
</table>