@using DataScience.Models.UserItem
@{
    ViewBag.Title = "Comparing to user " + ViewBag.UserId;
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<table class="table">
    <thead>
    <tr>
        <th>User ID</th>
        <th>Article ID</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in ViewBag.Users)
    {
        foreach (UserPreference preference in user.Value)
        {
            <tr>
                <th>
                    @preference.UserId
                </th>
                <td>
                    @preference.ArticleId
                </td>
                <td>
                    @preference.Rating
                </td>
            </tr>
        }
    }
    </tbody>
</table>