@using DataScience.Models.UserItem
@using DataScience.Services.Similarity
@{
    ViewBag.Title = "User ID: " + ViewBag.UserId;
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th></th>
        @foreach (var article in ViewBag.Articles)
        {
            <th>@article.Key</th>
        }
        <th>Similarity</th>
    </tr>
    </thead>
    <tbody>
    @{ User user = ViewBag.User; }
    @foreach (KeyValuePair<int, User> userItem in ViewBag.Users)
    {
        <tr class="@(userItem.Key == user.Id ? "table-active" : "")">
            <th>@userItem.Value.Id</th>
            @foreach (var article in ViewBag.Articles)
            {
                <td>
                    @if (userItem.Value.Ratings.ContainsKey(article.Key))
                    {
                        @userItem.Value.Ratings[article.Key]
                    }
                    else
                    {
                        @("-")
                    }
                </td>
            }
            <td class="td-compact">
                @{ var similarity = new SimilarityWrapper(userItem.Value.Ratings, user.Ratings, ViewBag.Articles); }
                Euclidean: @Math.Round(similarity.Euclidean(), 2)<br />
                Manhatttan: @Math.Round(similarity.Manhattan(), 2)<br />
                Pearson: @Math.Round(similarity.Pearson(), 2)<br />
                Cosine: @Math.Round(similarity.Cosine(), 2)
            </td>
        </tr>
    }
    </tbody>
</table>