@{
    ViewBag.Title = "User Item";
}

<h2>@ViewBag.Title</h2>

<h3>Dataset:</h3>
<table class="table">
    @foreach (var dataset in ViewBag.DataSets)
    {
        <tr>
            <th>@dataset.Key</th>
            @foreach (var value in dataset.Value)
            {
                <td>@value</td>
            }
        </tr>
    }
</table>

<h3>Results:</h3>
<ul>
    <li>Euclidean: @ViewBag.Euclidean</li>
    <li>Manhattan: @ViewBag.Manhattan</li>
    <li>Pearson: @ViewBag.Pearson</li>
    <li>Cosine: @ViewBag.Cosine</li>
</ul>